
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';



#admin-page
{
  padding-top: 0px;
}

.nested-media
{
  margin-top:60px;
  margin-bottom: 20px;
}

.comment-reply
{
  display: none;
}